body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
}

h1 {
    color: #66BFBF;
    font-size: 562.5%;
    margin-top: 50px auto 0 auto ;
    font-family: 'Sacramento', serif;
}

h2 {
    font-size: 1.6rem;
    color: #66BFBF;
    font-weight: normal;
    margin-top: 30px;
    margin-bottom: 50px;
}

.top-container {
    background-color: #E4F9F5;
    padding-top: 100px;
    position: relative;
}

.middle-container {
    margin: 100px auto;
    background-color: white;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 50px;
    margin: 0px;
    text-decoration: none;
}

a {
    color: #11999E;
    font-family: 'Merriweather', serif;
    margin: 10px 20px;
}

a:hover {
    color: #EAF6F6;
}

.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}
p {
    line-height: 2;
}

.intro {
    width:30%;
    margin: auto;
}

hr {
    margin: 70px auto;
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}

#pro {
    text-decoration: underline;
}
#programmer {
    font-size: 1.5rem;
    color: #66BFBF;
}

.chilli-img {
    width: 25%;
    float: right;
    margin-left: 50px;
}

.code-img { 
    width: 25%;
    float: left;
    margin-right: 50px;
}

.skill-row {
    width: 50%;
    margin: 50px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 30px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.land {
    margin-top: 40px;
}

.contact_message {
    width: 40%;
    margin: 40px auto 60px;

}

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 27;
    -moz-border-radius: 27;
    border-radius: 27px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 16px;
    padding: 12px 30px 12px 30px;
    text-decoration: none;
}
  
.btn:hover {
    background: #004d7d;
    background-image: -webkit-linear-gradient(top, #004d7d, #3d9cdb);
    background-image: -moz-linear-gradient(top, #004d7d, #3d9cdb);
    background-image: -ms-linear-gradient(top, #004d7d, #3d9cdb);
    background-image: -o-linear-gradient(top, #004d7d, #3d9cdb);
    background-image: linear-gradient(to bottom, #004d7d, #3d9cdb);
    text-decoration: none;
}

.profile-pic {
    border: solid;
    border-radius: 50%;
    background-color: cornflowerblue;
    height: 150px;
    width: 150px;
}